<!DOCTYPE html>
<html>
<head>
    <title>Weather API</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Weather API</h1>
    <p>Enter Your City</p>

    <form class="" action="/" method="post">
      <input type="text" name="city" value="" required>
      <button type="submit" name="button">Check</button>
    </form>
    <span>#{City} #{Weather} #{Temperatura} F #{Pressure} GPa</span>
</body>
<html>

//- If Request != null - OK

 //- if(#{Request} !== null){
 //-  #{City} #{Weather}
 //-   #{Temperatura}
 //-   #{Pressure}
 //- }
 //- if(error !== null){
 //-   #{error}
 //- }
